.WrapperBarAlign{
    padding-left: 0;
    padding-right: 0;
    margin-top: 2%;
}
.search-container{
    position: relative;
}
.search-icon{
    position: absolute;
    top:-4px;
    right:6px;
}
.search-icon i{
    font-size: 14px;
    color: #692b20;
}
.panelCustomizedAlignbar{
    padding: 5px!important;
}
.leftpanelMarginAuto{
    padding-left: 0;
    padding-right: 10px;
}
